In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Template.xlsx")

In [3]:
df.head()

               Lat              Long
0  32° 18' 23.1" N  122° 36' 52.5" W

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Lat     1 non-null      object
 1   Long    1 non-null      object
dtypes: object(2)
memory usage: 144.0+ bytes

In [5]:
df = df.astype(str)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Lat     1 non-null      object
 1   Long    1 non-null      object
dtypes: object(2)
memory usage: 144.0+ bytes

In [7]:
def convert_lat(lat):
    first_number = lat.split('°')[0] #split off the deg character and grab the first item (i.e. 32)
    second_number = lat.split('°')[1].split("""'""")[0].strip(" ") #split off deg, grab the 2nd part
    #and split again off the ' apostrophe and grab the first [0] part again and strip the space    
    second_number = float(second_number)/60 #convert to float and divide by 60
    third_number = lat.split('°')[1].split("""'""")[1].strip(" ") #same as second_number but grab the
    # second [1] part
    third_number = float(str(third_number).split('''"''')[0])/3600 #take the current 3rd number and split
    # off of the " quotation,grab the first [0] part, convert to a float and divide by 3600 
    combined_number = int(first_number) + (second_number + third_number) # combine everything as a int
    # plus a float
    return(combined_number)

In [8]:
# double check it is working:
convert_lat("""32° 18' 23.1" N""")

32.306416666666664

In [9]:
# create a new column for the converted Lat
df["Converted Lat"] = df['Lat'].apply(convert_lat)

In [10]:
# create a new column for the converted Long
df["Converted Long"] = df['Long'].apply(convert_lat)

In [11]:
df.head()

               Lat              Long  Converted Lat  Converted Long
0  32° 18' 23.1" N  122° 36' 52.5" W      32.306417      122.614583

In [12]:
# found a method to add the date to the excel filename 
# from https://stackoverflow.com/questions/45283921/using-current-date-as-file-name-when-exporting-dataframe
import time

TodaysDate = time.strftime("%m.%d.%Y")
excelfilename = TodaysDate +".xlsx"

#DataSet.to_excel(excelfilename, sheet_name='sheet1', index=False)

In [13]:
# write the output to a new excel sheet with the word "Converted Coordinates" and the current date
df.to_excel("Converted Coordinates "+excelfilename)